// colors
$primary: #8cc04b;
$primary-dark: #6ba324;
$orange: #f59900;
$main: #243746;
$black: #000;
$white: #fff;
$textColor: #3c3c3c;
$red-light: #e30303;
// fonts
$mainFont: "Montserrat", sans-serif;
