h1 {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  &.ex {
    font-size: 30px;
    line-height: 32px;
  }
}
h2 {
  font-size: 25px;
  line-height: 30px;
}
h3 {
}

h4 {
}

h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

h6 {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  &.big {
    font-size: 18px;
    line-height: 22px;
  }
}
p {
  &.lg {
    font-size: 18px;
    line-height: 25px;
  }
  &.big {
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
  }
}
.main {
  overflow: hidden;
  &.sm {
    padding-top: 60px;
  }
}
.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: $mainFont;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
  box-sizing: border-box;
  padding: 12px 14px;
  border-radius: 10px;
  &.light {
    background-color: $white;
    color: $primary;
    &:hover {
      opacity: 1;
      background-color: #243746;
      color: $white;
      span {
        &::before {
          border-color: $white;
        }
      }
    }
    span {
      &::before {
        border-color: $primary;
      }
    }
  }
  &.uniq {
    border: 1px solid $white;
    &:hover {
      opacity: 1;
      background-color: $primary;
      border-color: transparent;
    }
  }
  &.secondary {
    background-color: #e80914;
    color: $white;
    &:hover {
      background-color: #ff0000;
    }
    span {
      &::before {
        border-color: $white;
      }
    }
  }
  &.primary {
    background-color: $primary;
    color: $white;
    border: 1px solid $primary;
    &:hover {
      opacity: 1;
      background-color: $primary-dark;
      border-color: $primary-dark;
    }
    span {
      &::before {
        border-color: $white;
      }
    }
    svg {
      color: $white;
    }
  }
  &.solid {
    color: $primary;
    background-color: $white;
    border: 1px solid $primary;
    position: relative;
    padding: 12px 20px;
    &:hover {
      opacity: 1;
      background-color: $red-light;
      color: $white;
      border-color: $red-light;
      span {
        &::before {
          border-color: $white;
        }
      }
    }
  }
  span {
    width: 8px;
    height: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    position: relative;
    &::before {
      position: absolute;
      top: 50%;
      right: 0;
      width: 100%;
      height: 100%;
      border-top: 2px solid $primary;
      border-right: 2px solid $primary;
      content: "";
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      transform: translateY(-50%) rotate(45deg);
    }
  }
  svg {
    width: 18px;
    height: 16px;
    color: inherit;
    transition: 0.3s ease;
    margin-left: 20px;
  }
}
.select {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &.uniq {
    select {
      padding: 7px 35px 7px 15px;
      color: $white;
      background-color: $main;
      -webkit-appearance: none;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid $white;
    }
    &::before {
      position: absolute;
      top: 50%;
      right: 15px;
      width: 8px;
      height: 8px;
      border-top: 2px solid $white;
      border-right: 2px solid $white;
      content: "";
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      transform: translateY(-60%) rotate(135deg);
    }
  }
  select {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    font-family: $mainFont;
    font-weight: 400;
  }
}
.input {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &__outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    p {
      color: #3c3c3c;
      font-weight: 500;
      margin-bottom: 15px;
    }
    .input {
      width: 100%;
    }
  }
  &.cont {
    input,
    textarea {
      height: 100%;
      padding: 12px 20px;
      color: #3c3c3c;
      background-color: $white;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid #eaeaea;
      &::placeholder {
        color: #e2e2e2;
      }
    }
  }
  &.uniq {
    input {
      font-weight: 500;
      padding: 10px 15px;
      color: $white;
      background-color: $main;
      box-sizing: border-box;
      border-radius: 10px;
      border: 1px solid $white;
    }
  }
  input,
  textarea {
    width: 100%;
    font-size: 15px;
    line-height: 20px;
    font-family: $mainFont;
    font-weight: 600;
    box-sizing: border-box;
    resize: unset;
  }
}
.pagination {
  display: flex;
  align-items: center;
  button {
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
    font-family: $mainFont;
    background-color: transparent;
    padding: 5px;
    margin-right: 20px;
    color: $white;
    cursor: pointer;
    transition: 0.3s ease;
    &:hover {
      opacity: 0.8;
    }
    &.button {
      font-family: $mainFont;
      background-color: transparent;
      padding: 0;
      border: 1px solid $white;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 5px;
      &:hover {
        opacity: 1;
        &::before {
          transform: translate(-30%, -50%) rotate(45deg);
        }
      }
      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 7px;
        height: 7px;
        border-top: 2px solid $white;
        border-right: 2px solid $white;
        content: "";
        transform: translate(-60%, -50%) rotate(45deg);
        transition: 0.3s ease;
      }
    }
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: rgba($color: #000000, $alpha: 0.5);
  box-shadow: 0px 3px 6px #00000029;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
  &.active {
    opacity: 1;
    visibility: visible;
  }
}
.basket {
  min-width: 400px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  padding-top: 14px;
  &.active {
    display: block;
  }
  &__inner {
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
    color: $white;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      bottom: calc(100% - 1px);
      right: 25px;
      width: 15px;
      height: 15px;
      background-color: $main;
      box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.16);
      transform: translateY(50%) rotate(45deg);
      z-index: -1;
    }
    &-head {
      background-color: $main;
      color: $white;
      position: relative;
      padding: 30px 30px 20px 30px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      border-radius: 10px 10px 0 0;
      h5 {
        font-weight: 700;
        width: 100%;
        position: relative;
      }
    }
    &-content {
      box-sizing: border-box;
      padding: 10px 30px 60px 30px;
      overflow-y: auto;
      background-color: $main;
      & > h6 {
        font-weight: 700;
      }
      p {
        &.sm {
          font-size: 12px;
          line-height: 140%;
        }
      }
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 16px 0 12px;
      h5,
      h6 {
        font-weight: 700;
      }
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      h5 {
        color: #393939;
        line-height: 28px;
      }
    }
    &-close {
      cursor: pointer;
      width: 14px;
      height: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      @include transition;
      position: absolute;
      top: 50%;
      right: 0;
      width: 16px;
      height: 16px;
      transform: translate(0, -40%) rotate(45deg);
      &::before {
        position: absolute;
        top: 0;
        left: 50%;
        width: 2px;
        height: 100%;
        content: "";
        background-color: $white;
        transform: translateX(-50%);
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 2px;
        content: "";
        background-color: $white;
        transform: translateY(-50%);
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }
  &__total {
    width: 100%;
    padding: 24px 30px;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 0 0 10px 10px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      h5 {
        color: #393939;
        font-weight: 700;
      }
    }
    .button {
      display: flex;
      width: 100%;
      font-family: $mainFont !important;
      font-weight: 600;
      padding: 13px 0 !important;
      margin-bottom: 15px;
      &:last-child {
        margin: 0;
      }
    }
  }
  &__funds {
    margin-bottom: 20px;
  }
  &__fund {
    padding: 24px 0;
    border-bottom: 1px solid #ebebeb;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &-price {
      display: flex;
      align-items: center;
    }
    &-close {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: $primary;
      transition: 0.3s ease;
      cursor: pointer;
      margin-left: 20px;
      position: relative;
      &:hover {
        opacity: 1;
        background-color: $red-light;
      }
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px;
        height: 10px;
        transform: translate(-50%, -50%) rotate(45deg);
        &::before {
          position: absolute;
          top: 0;
          left: 50%;
          width: 2px;
          height: 100%;
          content: "";
          background-color: $white;
          transform: translateX(-50%);
        }
        &::after {
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: 2px;
          content: "";
          background-color: $white;
          transform: translateY(-50%);
        }
      }
    }
    h6 {
      font-weight: 700;
      line-height: 25px;
    }
  }
  &__items {
    padding-top: 20px;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    border: 1px solid $primary;
    box-sizing: border-box;
    // box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
    &-radio {
      position: relative;
      width: 20px;
      height: 20px;
      input {
        width: 100%;
        height: 100%;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        appearance: none;
        -webkit-appearance: none;
        z-index: 1;
        cursor: pointer;
        &:checked + label {
          border-color: $primary;
          &::before {
            opacity: 1;
          }
        }
      }
      label {
        display: block;
        width: 20px;
        height: 20px;
        background: #ffffff;
        border: 1px solid #2b2b2b;
        box-sizing: border-box;
        transition: 0.3s ease;
        &::before {
          opacity: 0;
          @include transition;
          position: absolute;
          top: 2px;
          left: 7px;
          content: "";
          width: 5px;
          height: 11px;
          border-right: 1.5px solid $primary;
          border-bottom: 1.5px solid $primary;
          transform: rotate(45deg);
        }
      }
    }
    &-left {
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: calc(100% - 60px);
      &-content {
        width: calc(100% - 34px);
        p {
          font-size: 12px;
          line-height: 14px;
          font-weight: 400;
        }
      }
    }
    &-right {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary;

      h6 {
        font-weight: 700;
        color: $white;
      }
    }
  }
  &__number {
    border-radius: 50%;
    background-color: $primary;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5px;
    span {
      font-size: 8px;
      line-height: 100%;
      color: $white;
    }
  }
  &__box {
    border-radius: 4px;
    background: #f7f7f7;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 30px;
    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;
      p {
        color: #393939;
        font-weight: 700;
      }
      h6 {
        color: $primary;
        line-height: 24px;
        font-weight: 900;
      }
    }
    &-desc {
      margin-bottom: 20px;
      p {
        font-size: 12px;
        line-height: 17px;
        font-weight: 400;
        color: #393939;
      }
    }
    &-remove {
      cursor: pointer;
      display: flex;
      align-items: center;
      font-size: 12px;
      line-height: 14px;
      font-family: $mainFont;
      font-weight: 400;
      color: $white;
      @include transition;
      margin-top: 20px;
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
      }
      svg {
        pointer-events: none;
        width: 10px;
        height: 10px;
        color: $white;
        margin-right: 8px;
      }
    }
  }
  &Btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s ease;
    height: 60px;
    position: relative;
    &__number {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      line-height: 100%;
      font-weight: 600;
      background-color: $primary;
      margin-right: 5px;
      color: $white;
    }
    &__icon {
      display: none;
    }
    position: relative;
    & > b {
      font-size: 15px;
      line-height: 20px;
      font-weight: 500;
      color: #393939;
      transition: 0.3s ease;
    }
  }
  &Link {
    margin: 0 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    b {
      font-size: 15px;
      line-height: 20px;
      font-weight: 600;
      color: #393939;
    }
  }
}

.search {
  position: absolute;
  top: calc(100% - 10px);
  left: 0;
  width: 100%;
  background-color: $main;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  z-index: -1;
  max-height: 0;
  padding: 0 20px;
  transition: 0.3s ease;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  &.active {
    padding: 30px 20px 20px;
    max-height: 300px;
    opacity: 1;
    visibility: visible;
  }
  &__form {
    position: relative;
    display: flex;
    background-color: $white;
    border-radius: 10px;
    padding: 15px 20px;
    width: 100%;
    max-width: 350px;
    box-sizing: border-box;
    margin: 0 auto;
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      padding: 15px 15px 15px 60px;
      font-size: 15px;
      line-height: 20px;
      font-weight: 400;
      font-family: $mainFont;
      color: $textColor;
      &::placeholder {
        color: #bababa;
      }
      &:focus {
        & ~ button {
          svg {
            color: $textColor;
          }
        }
      }
    }
  }
  &Btn {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0 40px;
    background-color: transparent;
    &:hover {
      svg {
        color: $primary;
      }
    }
    svg {
      width: 100%;
      height: 100%;
      color: #3c3c3c;
      transition: 0.3s ease;
    }
  }
  &__icon {
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
    &:hover {
      svg {
        color: $textColor;
      }
    }
    svg {
      width: 100%;
      height: 100%;
      color: $primary;
      transition: 0.3s ease;
    }
  }
}
.quote {
  color: $white;
  &__text {
    font-size: 30px;
    line-height: 35px;
    font-weight: 900;
    margin-bottom: 15px;
  }
  h5 {
    font-weight: 500;
  }
  span {
    width: 48px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    img {
      width: 100%;
      &.mob {
        display: none;
      }
    }
  }
}
.video {
  width: 100%;
  padding-bottom: 56%;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 0;
  border-radius: 10px;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000065;
    opacity: 0.3;
  }
  &.active {
    opacity: 1;
    &::after {
      display: none;
    }
    .video__play {
      &::before {
        display: none;
      }
      &::after {
        display: none;
      }
    }
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    @include fullImage;
    &:hover {
      & ~ .video__play.active {
        opacity: 1;
      }
    }
  }
  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translate(-50%, -45%);
    z-index: 3;
    cursor: pointer;
    &:hover {
      opacity: 1;
      span {
        background-color: #6ba324;
      }
      .video__play {
        &-icon {
        }
      }
    }
    &.active {
      opacity: 0;
      span {
        img {
          display: none;
        }
        &::after {
          display: block;
        }
        &::before {
          display: block;
        }
      }
      &:hover {
        opacity: 1;
      }
    }
    span {
      width: 100px;
      height: 100px;
      background-color: $primary;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: 0.3s ease;
      &::after {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 35%;
        width: 10%;
        height: 40%;
        background-color: $white;
        transform: translateY(-50%);
        border-radius: 3px;
      }
      &::before {
        content: "";
        display: none;
        position: absolute;
        top: 50%;
        right: 35%;
        width: 10%;
        height: 40%;
        background-color: $white;
        transform: translateY(-50%);
        border-radius: 3px;
      }
      img {
        width: 40%;
        max-width: 40px;
      }
    }
    b {
      font-size: 25px;
      line-height: 100%;
      font-weight: 800;
      color: $white;
      margin-top: 16px;
      text-align: center;
      white-space: nowrap;
    }
  }
}
.ellipse {
  width: 73px;
  height: 73px;
  background-color: #297893;
  opacity: 0.3;
  border-radius: 50%;
}
.map {
  &__bg {
    padding-bottom: 30%;
    position: relative;
    min-height: 400px;
    box-sizing: border-box;
    img,
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      @include fullImage;
      z-index: 1;
    }
    iframe {
      z-index: 2;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
