.faq {
  background: #8cc04b;
  padding: 40px 0;
  position: relative;
  &.gray {
    background: #f8f8f8;
    .faq {
      &__head {
        h2 {
          color: $primary;
        }
        p {
          color: $textColor;
        }
      }
    }
  }
  &.base {
    .faq {
      &__bg {
        &-item {
          top: 10%;
          left: unset;
          right: 0;
          transform: translate(0);
        }
        .ellipse {
          width: 140px;
          height: 140px;
          top: unset;
          right: unset;
          bottom: 10%;
          left: 0;
          transform: translateX(-40%);
        }
      }
      &Item {
        &__title {
          width: 100%;
          h6 {
          }
        }
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    &-item {
      width: 135px;
      position: absolute;
      top: 48%;
      left: 0;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      transform: translateY(-50%);
      &.sm {
        transform: translateX(15%);
        top: 4%;
      }
      img {
        width: 100%;
      }
    }
    .ellipse {
      position: absolute;
      right: 1%;
      top: 5%;
      width: 122px;
      height: 122px;
      opacity: 0.2;
    }
  }
  &__head {
    margin-bottom: 30px;
    color: $white;

    h2 {
      margin-bottom: 20px;
    }
  }
  &__inner {
    padding-right: calc(100% - 370px);
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: calc(100% - 380px);
      background: $white;
      height: 100%;
      border-radius: 10px;
    }
    &-content {
      border-radius: 10px;
      background: $white;
      padding: 20px 30px;
    }
  }
  &Item {
    border-bottom: 1px solid #f8f8f8;
    cursor: pointer;
    &:last-child {
      border-bottom: unset;
    }
    &__body {
      position: absolute;
      top: 0;
      right: 0;
      padding: 30px;
      box-sizing: border-box;
      overflow-y: auto;
      width: calc(100% - 380px);
      height: 100%;
      display: none;
      &::-webkit-scrollbar {
        display: block;
        width: 4px;
      }
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &.active {
        animation: fadeIn 0.3s ease;
        display: block;
      }

      h5 {
        font-weight: 600;
        color: $primary;
        margin-bottom: 20px;
      }
    }

    &__head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 0;
      min-height: 50px;
      box-sizing: border-box;
      &:hover {
        h6 {
          color: #6ba324;
        }
        span {
          &::before {
            border-top: 2px solid $primary;
            border-right: 2px solid $primary;
          }
        }
        svg {
          color: #6ba324;
        }
      }
      &.active {
        h6 {
          color: #6ba324;
        }
        span {
          &::before {
            border-top: 2px solid $primary;
            border-right: 2px solid $primary;
          }
        }
        svg {
          color: #6ba324;
        }
      }
    }
    svg {
      width: 23px;
      height: 23px;
      color: $primary;
      transition: 0.3s ease;
      &.sm {
        width: 20px;
        height: 20px;
      }
    }
    &__icon {
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        @include fullImage;
      }
    }
    &__title {
      width: calc(100% - 48px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      h6 {
        font-weight: 600;
        @include transition;
        color: $primary;
        width: calc(100% - 16px);
      }

      span {
        width: 8px;
        height: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::before {
          position: absolute;
          top: 50%;
          right: 0;
          @include transition;
          width: 100%;
          height: 100%;
          border-top: 2px solid #3c3c3c;
          border-right: 2px solid #3c3c3c;
          content: "";
          -webkit-transition: 0.3s ease;
          transition: 0.3s ease;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }
  }
}
// 1180px
@mixin faq-xlg-xxlg {
  .faq {
  }
}
// 1024px
@mixin faq-lg-xlg {
  .faq {
  }
}
// 930px
@mixin faq-md-lg {
  .faq {
    &__inner {
      padding-right: calc(100% - 280px);
      &::before {
        width: calc(100% - 290px);
      }
      &-content {
        padding: 20px;
      }
    }
    &Item {
      &__body {
        width: calc(100% - 290px);
        padding: 20px;
      }
    }
  }
}
// 750px
@mixin faq-sm-md {
  .faq {
    &__bg {
      &-item {
        display: none;
      }
      .ellipse {
        width: 108px !important;
        height: 108px !important;
        top: 20px !important;
        bottom: unset !important;
        right: 0 !important;
        left: unset !important;
        transform: translateX(35px) !important;
        opacity: 1;
        background-color: transparent;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          content: "";
          background-color: #0f95ff;
          opacity: 0.17;
        }
        &::before {
          position: absolute;
          top: -7px;
          left: -7px;
          width: 40px;
          height: 40px;
          content: "";
          background-color: #297893;
          border-radius: 50%;
          opacity: 0.3;
        }
      }
    }
    &__inner {
      padding-right: 0;
      &::before {
        display: none;
      }
      &-content {
        padding: 20px;
      }
    }
    &Item {
      &__head {
        box-sizing: border-box;
        &:hover {
          h6 {
            color: $primary;
          }
          span {
            &::before {
              border-top: 2px solid #3c3c3c;
              border-right: 2px solid #3c3c3c;
            }
          }
          svg {
            color: $primary;
          }
        }
        &.active {
          h6 {
            color: $primary;
          }
          span {
            &::before {
              border-top: 2px solid #3c3c3c;
              border-right: 2px solid #3c3c3c;
            }
          }
          svg {
            color: $primary;
          }
        }
        &.mobActive {
          h6 {
            color: #6ba324;
          }
          span {
            &::before {
              border-top: 2px solid #6ba324;
              border-right: 2px solid #6ba324;
            }
          }
          svg {
            color: #6ba324;
          }
          .faqItem__title {
            span {
              &::before {
                transform: translateY(-40%) rotate(-45deg);
              }
            }
          }
        }
      }
      &__title {
        span {
          &::before {
            transform: translateY(-60%) rotate(135deg);
            transition: 0.3s ease;
          }
        }
      }
      &__body {
        position: relative;
        width: 100%;
        padding: 20px 0;
        &.active {
          display: none;
        }
        &.mobActive {
          animation: fadeIn 0.3s ease;
          display: block;
        }
      }
    }
  }
}
// 650px
@mixin faq-sm-md-extra {
  .faq {
  }
}
// 540px
@mixin faq-xsm-sm {
  .faq {
  }
}
// 440px
@mixin faq-xxsm-xsm {
  .faq {
  }
}
