.team {
  padding: 40px 0;
  background-color: #f8f8f8;
  .auto__container {
    max-width: 1085px;
  }
  &__inner {
    &-title {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      text-align: center;
    }
    &-buttons {
        width: 100%;
        max-width: 340px;
        display: flex;
        border: 1px solid $primary;
        box-sizing: border-box;
        border-radius: 10px;
        justify-content: space-between;
        overflow: hidden;
        button {
            display: block;
            width: 50%;
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
            color: $primary;
            background-color: transparent;
            transition: .3s ease;
            cursor: pointer;
            border-radius: 10px;
            height: 40px;
            text-align: center;
            border-radius: 10px;
            &.active {
                background-color: $primary;
                color: $white;
            }
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: column;
        .slick {
            &-slider {
                display:  none !important;
            }
        }
        &.active {
            display: block;
            .slick {
                &-slider {
                    display:  block !important;
                }
            }
        }
    }
    &-slider {
      padding-bottom: 50px;
      margin: 0 -7px;
    }
    .slick {
      &-track {
        display: flex !important;
      }

      &-slide {
        height: unset !important;
        margin: 0 7px;
      }
      &-dots {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          width: 10px;
          height: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 0;
          margin: 0 7px;
          &.slick-active {
            button {
              background-color: $primary;
            }
          }
          button {
            padding: 0;
            width: 100%;
            height: 100%;
            background-color: transparent;

            transition: 0.3s ease;
            cursor: pointer;
            border-radius: 50%;
            box-sizing: border-box;
            border: 1px solid $primary;

            &::before {
              display: none;
            }
          }
        }
      }
    }
    h2 {
      margin-bottom: 30px;
      color: $primary;
    }
  }
  &Item {
    padding: 0 10px 10px 0;
    box-sizing: border-box;
    position: relative;
    &::before {
      position: absolute;
      bottom: 0;
      right: 0;
      border-radius: 10px;
      background-color: $primary;
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      box-sizing: border-box;
      content: "";
    }
    &__avatar {
      width: 130px;
      height: 130px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      margin-bottom: 18px;
      img {
        @include fullImage;
      }
    }
    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      z-index: 2;
      background-color: $white;
      border-radius: 10px;
      padding: 30px 20px;
      box-sizing: border-box;
    }

    h5 {
      font-weight: 600;
      color: $primary;
      margin-bottom: 10px;
    }
    p {
      font-weight: 500;
    }
  }
}
// 540px
@mixin team-xsm-sm {
  .team {
    padding: 30px 0;
    &__inner {
        .slick {
            &-list {
                max-width: 260px;
                margin: 0 auto;
                overflow: visible !important;
            }
        }
    }
  }
}
